@{
    ViewData["Title"] = "Access Denied";
}

<div class="container">
    <h1>Uh oh!</h1>
    <h2>You aren't supposed to be snooping around over here. Yeet yourself on over to another page!</h2>
</div>