@{
    ViewData["Title"] = "Home";
}

<div class="mt-5">
    <div class="row text-center">
        <div class="col">
            <h1 style="color: #313715;">CRASH</h1>
            <h4 style="color: #313715;">Collision Resources and Statistics Help</h4>
            <img width="25%" src="~/img/carcrash.png" />
        </div>
        <div class="col">
            <h3>Select a link below to get started: </h3>
            <ul class="list-group border-dark">
                <a class="text-primary mt-3" asp-controller="Home" asp-action="Data">
                <li class="list-group-item">
                    View all data
                </li>
                </a>
                <a class="text-primary mt-3" asp-controller="Home" asp-action="Summary">
                <li class="list-group-item">
                    View data summaries
                </li>
                </a>
                <a class="text-primary mt-3" asp-controller="Home" asp-action="Prediction">
                <li class="list-group-item">
                    View trip safety predictions
                </li>
                </a>
            </ul>
        </div>
    </div>

    <hr class="mt-5 mb-5"/>

    <div class="row">
        <div class="col">
            <p>In recent years, the state of Utah has been taking extra measures to prevent motor vehicle accidents. </p>
            <p>In order to help this initiative, we have created this easy-to-use web app for anyone to learn more about the crisis.</p>
            <p>This site is designed to provide insight to automobile accident information in the state of Utah. It is built using data from 2016, 2017, and 2019.</p>
            <p>We hope every day users can learn from the data and know what they can do to help and officials can better get the data they need for use.</p>
        </div>
        <div class="col text-center">
            <img class="rounded shadow"src="~/img/cars.jpg" width="80%" />
        </div>
    </div>
</div>
