@{
    ViewData["Title"] = "Predictions";
} 
@model Crashd
<style>
    label {
        display: inline-block;
        text-align: right;
    }
</style>
<h1>put model stuff here. 455 things</h1>

<div class="container">
    <form method="post">
        <div class="form-group d-inline-block">
            <div class="row">
                <div class="col-4">
                    <label asp-for="pedestrian_involved" class="d-inline-block">Will there be a pedestrian involved? </label>
                </div>
                <div class="col-8">
                    <select asp-for="pedestrian_involved">
                        <option value=1>Yes</option>
                        <option value=0>No</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label asp-for="bicyclist_involved" class="d-inline-block">Will there be a bicyclist involved? </label>
                </div>
                <div class="col-8">
                    <select asp-for="bicyclist_involved">
                        <option value=1>Yes</option>
                        <option value=0>No</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label asp-for="motorcycle_involved" class="d-inline-block">Will there be a motorcycle involved? </label>
                </div>
                <div class="col-8">
                    <select asp-for="motorcycle_involved">
                        <option value=1>Yes</option>
                        <option value=0>No</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label asp-for="improper_restraint">Are anyone's seatbelts improperly fastened and/or not up to code? </label>
                </div>
                <div class="col-8">
                    <select asp-for="improper_restraint">
                        <option value=1>Yes</option>
                        <option value=0>No</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label asp-for="unrestrained">Are anyone's seatbelts not fastened?</label>
                </div>
                <div class="col-8">
                    <select asp-for="unrestrained">
                        <option value=1>Yes</option>
                        <option value=0>No</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label asp-for="dui">Has anyone been drinking during this car ride? </label>
                </div>
                <div class="col-8">
                    <select asp-for="dui">
                        <option value=1>Yes</option>
                        <option value=0>No</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label asp-for="overturn_rollover">Has the car been overturned? </label>
                </div>
                <div class="col-8">
                    <select asp-for="overturn_rollover">
                        <option value=1>Yes</option>
                        <option value=0>No</option>
                    </select>
                </div>
            </div><br />
            <div class="row">
                <div class="col-4">
                    <label asp-for="intersection_related">Is the crash in an intersection? </label>
                </div>
                <div class="col-8">
                    <select asp-for="intersection_related">
                        <option value=1>Yes</option>
                        <option value=0>No</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label asp-for="drowsy_driving">Will you be driving late at night or without sleep? </label>
                </div>
                <div class="col-8">
                    <select asp-for="drowsy_driving">
                        <option value=1>Yes</option>
                        <option value=0>No</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label asp-for="single_vehicle">Is this a multi-car crash? </label>
                </div>
                <div class="col-8">
                    <select asp-for="single_vehicle">
                        <option value=0>Yes</option>
                        <option value=1>No</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-success" action="submit">Submit</button>
        </div>
    </form>
</div>

@if (ViewBag.Prediction is null)
            {
                <p></p>
            }
else
{
                <p>@ViewBag.Prediction/5</p>
                <p>1 comes out to no injury, 2 is a possible injury, 3 is a suspected minor injury, 4 is a suspected serious injury, and 5 is fatal</p>
            }


<h1>put model stuff here. 455 things</h1>

@*Google maps stuff*@
<div id="map"></div>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNBhiuALlQJrrkC4iLxb1M4tZntUIqOYA&callback=initMap&v=weekly"
        async></script>

<label>Check if starting location is correct. Then choose ending location.</label>
<input id="check" type="checkbox" />

<h4>Starting location</h4>
<label>Longitude</label>
<input id="lon" type="text" />
<label>Latitude</label>
<input id="lat" type="text" />

<h4>Ending location</h4>
<label>Longitude</label>
<input id="lon2" type="text" />
<label>Latitude</label>
<input id="lat2" type="text" />


<button onclick="api()" href="#">Predict</button>

<p id="output"></p>

<script>
    function numPrint(result) {
        document.getElementById('output').innerHTML = "You will pass through these zones: " + result;
    }

    function api() {
        var lon = document.getElementById('lon').value;
        var lat = document.getElementById('lat').value;
        var lon2 = document.getElementById('lon2').value;
        var lat2 = document.getElementById('lat2').value;

        coor1 = lon + ',' + lat;
        coor2 = lon2 + ',' + lat2;

        url = "https://mapapidos.herokuapp.com/" + coor1 + '/' + coor2;

        var requestOptions = {
            method: 'GET',
            redirect: 'follow'
        };

        fetch(url, requestOptions)
            .then(response => response.text())
            .then(result => numPrint(result))
            .catch(error => console.log('error', error));

        document.getElementById('output').innerHTML = "Please wait for result..."
    }

    function initMap() {
        const myLatlng = { lat: 40.251438, lng: -111.648887 };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 8,
            center: myLatlng,
        });
        // Create the initial InfoWindow.
        let infoWindow = new google.maps.InfoWindow({
            content: "Click the map to get Lat/Lng!",
            position: myLatlng,
        });

        infoWindow.open(map);
        // Configure the click listener.
        map.addListener("click", (mapsMouseEvent) => {
            // Close the current InfoWindow.
            infoWindow.close();
            // Create a new InfoWindow.
            infoWindow = new google.maps.InfoWindow({
                position: mapsMouseEvent.latLng,
            });
            infoWindow.setContent(
                JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
            );
            infoWindow.open(map);

            console.log(mapsMouseEvent.latLng.toJSON()['lat']);

            if (document.getElementById('check').checked == false) {
                document.getElementById('lon').value = mapsMouseEvent.latLng.toJSON()['lng'];
                document.getElementById('lat').value = mapsMouseEvent.latLng.toJSON()['lat'];
            }
            else {
                document.getElementById('lon2').value = mapsMouseEvent.latLng.toJSON()['lng'];
                document.getElementById('lat2').value = mapsMouseEvent.latLng.toJSON()['lat'];
            }
            
        });
    }
</script>