@{
    ViewData["Title"] = "Predictions";
}

<h1>put model stuff here. 455 things</h1>

<form method="post">
    <h4>Starting location</h4>
    <label>Longitude</label>
    <input id="lat" type="text" />
    <label>Latitude</label>
    <input id="lon" type="text" />

    <h4>Ending location</h4>
    <label>Longitude</label>
    <input id="lat2" type="text" />
    <label>Latitude</label>
    <input id="lon2" type="text" />

    <button action="submit">Predict</button>
</form>