@{
    ViewData["Title"] = "Predictions";
}

<h1>put model stuff here. 455 things</h1>

<form method="post">
    <label>Latitude</label>
    <input id="lat" type="text" />
    <label>Laongitude</label>
    <input id="lon" type="text" />
    <button action="submit">Predict</button>
</form>