@{
    ViewData["Title"] = "New Road";
}
@model Road

<h3 class="my-3">Add new road</h3>

<form>
    <div class="form-group">
        <input type="hidden" asp-for="@Model.ROAD_ID" />
        <label asp-for="@Model.MAIN_ROAD_NAME">Main Road Name:</label><br />
        <input asp-for="@Model.MAIN_ROAD_NAME" /><br />
    </div>

    <div class="form-group">
        <button class="btn btn-success" action="submit">Submit</button>
    </div>
</form>